<form class="mt-8 space-y-6" {{on "submit" this.login}}>
  {{#if this.errorMessage}}
    <div class="rounded-md bg-violet-50 p-4">
      <div class="flex">
        <div class="shrink-0">
          {{svg-jar "solid-exclamation-circle" class="h-5 w-5 text-violet-400"}}
        </div>
        <div class="ml-3">
          <h3 class="text-sm font-medium text-violet-800">
            Aanmelden mislukt
          </h3>
          <div class="mt-2 text-sm text-violet-700">
            <p>
              {{this.errorMessage}}
            </p>
          </div>
        </div>
      </div>
    </div>
  {{/if}}

  <div class="rounded-md shadow-sm -space-y-px">
    <div>
      <label for="username" class="sr-only">Gebruikersnaam</label>
      <Input
        id="username"
        name="username"
        @type="text"
        @value={{this.nickname}}
        required
        class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-violet-900 focus:border-violet-900 focus:z-10 sm:text-sm"
        placeholder="Gebruikersnaam" />
    </div>
    <div>
      <label for="password" class="sr-only">Wachtwoord</label>
      <Input
        id="password"
        name="password"
        @type="password"
        @value={{this.password}}
        autocomplete="current-password"
        required
        class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-violet-900 focus:border-violet-900 focus:z-10 sm:text-sm"
        placeholder="Wachtwoord" />
    </div>
  </div>

  <div>
    <button
      type="submit"
      disabled={{this.isAuthenticating}}
      class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-violet-900 hover:bg-violet-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-violet-900">
      <span class="absolute left-0 inset-y-0 flex items-center pl-3">
        {{svg-jar "solid-lock-closed" class="h-5 w-5 text-violet-500 group-hover:text-violet-400"}}
      </span>
      {{#if this.isAuthenticating}}
        {{svg-jar "loading-circle" class="animate-spin -ml-1 mr-3 h-5 w-5"}}
      {{else}}
        Log in
      {{/if}}
    </button>
  </div>
</form>
