{{#if this.loadData.isRunning}}
  <Loader @label="Aan het laden..." />
{{else}}
  <ul role="list" class="divide-y divide-gray-200">
    {{#each this.persons as |person|}}
      <li>
        <button type="button"
          {{on "click" (fn @onPick person)}}
          class="p-4 w-full flex flex-row items-center justify-between text-gray-900 hover:bg-primary-50 hover:text-primary-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-900">
          <div class="text-sm text-gray-900">
            {{person.givenName}} {{person.familyName}}
          </div>
          <div class="text-gray-400">
            {{svg-jar "add-line" class="h-5 w-5 fill-current"}}
          </div>
        </button>
      </li>
    {{/each}}
  </ul>
{{/if}}