{{page-title (concat @model.event.name " " (format-date @model.event.startDate "Pp"))}}

<div class="mt-2 px-4">
  <LinkTo @route="events.index" class="text-xs text-gray-900 hover:underline rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-900 focus:border-primary-900">
    &lt; Terug naar overzicht
  </LinkTo>
</div>

<div class="mt-4 px-4">
  {{#if this.isEditing}}
    <form {{on "submit" this.updateEvent}} class="p-4 bg-gray-100 rounded-md grid grid-cols-2 sm:grid-cols-4 gap-4">
      <div class="col-span-2">
        <label for="event-name" class="sr-only">
          Naam
        </label>
        <input
          id="event-name"
          type="text"
          value={{@model.event.name}}
          placeholder="Naam"
          {{on "input" this.setEventName}}
          class="shadow-sm focus:ring-primary-900 focus:border-primary-900 block w-full text-sm border-gray-300 rounded-md" />
      </div>

      <div>
        <label for="event-date" class="sr-only">
          Datum
        </label>
        <input
          id="event-date"
          type="date"
          value={{this.date}}
          {{on "input" this.setEventDate}}
          class="shadow-sm focus:ring-primary-900 focus:border-primary-900 block w-full text-sm border-gray-300 rounded-md" />
      </div>

      <div>
        <label for="event-time" class="sr-only">
          Tijdstip
        </label>
        <input
          id="event-time"
          type="time"
          value={{this.time}}
          {{on "input" this.setEventTime}}
          class="shadow-sm focus:ring-primary-900 focus:border-primary-900 block w-full text-sm border-gray-300 rounded-md" />
      </div>

      <div class="col-span-2 sm:col-start-3 text-right">
        <button
          type="button"
          class="inline-flex items-center px-3 py-2 border border-gray-300 text-sm leading-4 font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-900"
          {{on "click" this.cancelEditMode}}>
          Annuleren
        </button>
        <button
          type="submit"
          disabled={{this.isInvalid}}
          class="inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-white bg-primary-900 hover:bg-primary-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-900 disabled:bg-gray-300">
          Opslaan
        </button>
      </div>
    </form>
  {{else}}
    <div class="flex items-center justify-between">
      <div class="flex items-center space-x-4">
        <h1 class="flex flex-col space-y-1 sm:flex-row sm:items-baseline sm:space-x-2 text-3xl">
          <span>{{@model.event.name}}</span>
          <span>{{format-date @model.event.startDate "Pp"}}</span>
        </h1>
        <button
          type="button"
          class="text-gray-400 hover:text-primary-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-900"
          {{on "click" this.openEditMode}}>
          {{svg-jar "pencil-line" class="h-5 w-5 fill-current"}}
        </button>
      </div>
      <div>
        <button
          type="button"
          class="text-gray-400 hover:text-red-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500"
          disabled={{this.deleteEvent.isRunning}}
          {{on "click" (perform this.deleteEvent)}}>
          {{svg-jar "delete-bin-line" class="h-5 w-5 fill-current"}}
        </button>
      </div>
    </div>
  {{/if}}

  {{#if this.deleteEvent.isRunning}}
    <div class="mt-8 flex items-center justify-center text-gray-700">
      <Loader @label="Aan het verwijderen..." />
    </div>
  {{else}}
    <div class="mt-8 relative mx-auto sm:px-6 lg:px-8">
      <dl class="rounded-lg bg-white grid grid-cols-3">
        <div class="flex flex-col border-gray-100 border-r p-6 text-center">
          <dt class="order-2 mt-2 text-sm sm:text-base font-medium text-gray-500">
            Aanwezig
          </dt>
          <dd class="order-1 text-3xl sm:text-4xl font-extrabold text-primary-900">
            {{this.presentCount}}
          </dd>
        </div>
        <div class="flex flex-col border-gray-100 border-l border-r p-6 text-center">
          <dt class="order-2 mt-2 text-sm sm:text-base font-medium text-gray-500">
            Afwezig
          </dt>
          <dd class="order-1 text-3xl sm:text-4xl font-extrabold text-primary-900">
            {{this.absentCount}}
          </dd>
        </div>
        <div class="flex flex-col border-gray-100 border-l p-6 text-center">
          <dt class="order-2 mt-2 text-sm sm:text-base font-medium text-gray-500">
            Te laat
          </dt>
          <dd class="order-1 text-3xl sm:text-4xl font-extrabold text-primary-900">
            {{this.tooLateCount}}
          </dd>
        </div>
      </dl>
    </div>
    <ul role="list" class="mt-8 divide-y divide-gray-200">
      {{#each @model.attendances as |attendance|}}
        <li class="py-4 sm:p-4">
          <AttendanceToggle
            @attendance={{attendance}}
            @onDeleteAttendance={{perform this.deleteAttendance}} />
        </li>
      {{/each}}
      <li class="py-4 sm:p-4">
        <button type="button"
          {{on "click" this.openPersonPickerModal}}
          class="flex flex-row space-x-3 text-gray-400 hover:text-primary-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-900">
          {{svg-jar "user-add-line" class="h-5 w-5 fill-current"}}
          <span class="text-sm">
            Muzikant toevoegen
          </span>
        </button>
      </li>
    </ul>
  {{/if}}
</div>

{{#if this.isOpenPersonPickerModal}}
  <Modal @onClose={{this.closePersonPickerModal}}>
    <:body>
    <p class="mb-4 text-gray-500 text-sm">
      Selecteer een muzikant
    </p>
    <PersonPicker @event={{@model.event}} @onPick={{this.addAttendance}} />
    </:body>
  </Modal>
{{/if}}

{{outlet}}