{{page-title "Repetities"}}

<h1>Repetities</h1>

<form {{on "submit" this.createEvent}}>
  <label for="event-name">Naam</label>
  <input
    id="event-name"
    type="text"
    value={{this.name}}
    {{on "input" this.setEventName}} />

  <label for="event-date">Datum</label>
  <input
    id="event-date"
    type="date"
    value={{this.date}}
    {{on "input" this.setEventDate}} />

  <label for="event-time">Tijdstip</label>
  <input
    id="event-time"
    type="time"
    value={{this.time}}
    {{on "input" this.setEventTime}} />

  <button type="submit" disabled={{this.isInvalid}}>
    Toevoegen
  </button>
</form>

<ul>
  {{#each @model.events as |event|}}
    <li>
      <LinkTo @route="event" @model={{event.id}}>
        {{event.name}} {{format-date event.startDate "Pp"}}
      </LinkTo>
    </li>
  {{/each}}
</ul>

{{outlet}}