{{page-title "Login"}}

<div class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8">
    <div>
      {{#if (eq this.primaryTheme "bbw")}}
        <img class="mx-auto h-24 w-auto" src="assets/images/logo-bbw.jpg" alt="BBW">
      {{else if (eq this.primaryTheme "ybbw")}}
        <img class="mx-auto h-24 w-auto" src="assets/images/logo-ybbw.jpg" alt="YBBW">
      {{else if (eq this.primaryTheme "bravoer")}}
        <img class="mx-auto h-48 w-auto" src="assets/images/logo-bravoer.png" alt="Bravoer">
      {{else if (eq this.primaryTheme "snk")}}
        <img class="mx-auto h-48 w-auto" src="assets/images/logo-snk.jpg" alt="Sint Nicolauskring Weelde">
      {{/if}}
    </div>
    <MuLogin />
  </div>
</div>

{{outlet}}
