{{page-title "Muzikanten"}}

<div class="mt-8 px-4">
  <form {{on "submit" this.createPerson}} class="p-4 bg-gray-100 rounded-md grid sm:grid-cols-5 gap-4">
    <div class="sm:col-span-2">
      <label for="given-name" class="sr-only">
        Voornaam
      </label>
      <input
        id="given-name"
        type="text"
        value={{this.givenName}}
        placeholder="Voornaam"
        {{on "input" this.setGivenName}}
        class="shadow-sm focus:ring-violet-900 focus:border-violet-900 block w-full text-sm border-gray-300 rounded-md" />
    </div>

    <div class="sm:col-span-2">
      <label for="family-name" class="sr-only">
        Achternaam
      </label>
      <input
        id="family-name"
        type="text"
        value={{this.familyName}}
        placeholder="Achternaam"
        {{on "input" this.setFamilyName}}
        class="shadow-sm focus:ring-violet-900 focus:border-violet-900 block w-full text-sm border-gray-300 rounded-md" />
    </div>

    <div class="text-right">
      <button
        type="submit"
        disabled={{this.isInvalid}}
        class="inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-white bg-violet-900 hover:bg-violet-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-violet-900 disabled:bg-gray-300">
        Toevoegen
      </button>
    </div>
  </form>

  <ul role="list" class="mt-8 divide-y divide-gray-200">
    {{#each @model as |person|}}
      <li class="p-4">
        <div class="flex flex-row justify-between">
          <div class="text-sm text-gray-900">
            {{person.givenName}} {{person.familyName}}
          </div>
          <div>
            <button type="button"
              class="text-gray-400 hover:text-red-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500"
              {{on "click" (fn this.archivePerson person)}}>
              {{svg-jar "solid-trash" class="h-5 w-5"}}
            </button>
          </div>
        </div>
      </li>
    {{/each}}
  </ul>

  {{#if this.archivedPeople}}
    <div class="mt-8">
      <div class="p-4 flex flex-row justify-between bg-gray-50">
        <h2 class="text-lg text-gray-800">Archief</h2>
        <button type="button"
          class="text-gray-600 hover:text-gray-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-900"
          {{on "click" this.toggleIsShownArchive}}>
          {{#if this.isShownArchive}}
            {{svg-jar "solid-chevron-up" class="h-5 w-5"}}
          {{else}}
            {{svg-jar "solid-chevron-right" class="h-5 w-5"}}
          {{/if}}
        </button>
      </div>
      {{#if this.isShownArchive}}
        <ul role="list" class="divide-y divide-gray-200">
          {{#each this.archivedPeople as |person|}}
            <li class="p-4">
              <div class="flex flex-row justify-between">
                <div class="text-sm text-gray-900">
                  {{person.givenName}} {{person.familyName}}
                </div>
                <div>
                  <button type="button"
                    class="text-gray-400 hover:text-violet-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-violet-900"
                    {{on "click" (fn this.restorePerson person)}}>
                    {{svg-jar "solid-reply" class="h-5 w-5"}}
                  </button>
                </div>
              </div>
            </li>
          {{/each}}
        </ul>
      {{/if}}
    </div>
  {{/if}}

{{outlet}}
</div>
